.panel-container {
    margin : 10px 10px;
    background-image: url("/assets/mainbackground.jpg");
}

.outer-container {
    background-image: url("/assets/mainbackground.jpg");
}

.panel-info {
    background-image: linear-gradient(red, yellow);
    font-family: "nasa";
    font-weight: bold;
}

.add-button {
    margin: 5px 5px;
}

.delete-button {
    float: right;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {


    .description {
        font-size: 12pt;
        font-weight: bold;
        padding:  5px;
    }

    .panel-info {
        height : 2.5em;
        padding: 5px;

    }

    // > * {
    //     font-family : "nasa";
    //     font-weight: bold;
    // }

    mat-card {
        padding: 16px;
        width: 90%;
        border-radius: 4px;
        margin-bottom: 15px;
    }


}


@media only screen  and (min-width : 1224px) {
    mat-card {
        margin: 10px;
        width: 43%;
        border-radius: 4px;
        margin-bottom: 15px;
        flex: 1 1 auto;

    }

    
    .panel-info {
        height : 2.8em;
        padding: 5px;
        border-radius: 4px;
        font-weight: bold;
    }

    .description {
        font-size: 14pt;
        font-weight: bold;
        padding:  10px;
    }
}


