.outer-container {
  background-image: url("/assets/mainbackground.jpg");
  margin-left: -10px;
}

.search-panel {
  opacity: 0.7;
}

.form-control {
  height: 40px;
  background-color: white;
  font-size: 14pt;
  font-weight: bold;
  display: block;
  width: 47.7%;
  margin-top : 10px;
  margin-left: 20px;
}

.panel-info {
  background-image: linear-gradient(red, yellow);
  font-weight: bold;
}

.add-button {
  margin: 10px 20px 0px 10px;
  padding-bottom: 5px;
}

.delete-button {
  float: right;
}

.video-button {
  margin: 5px 10px 0px 4px;
}

.tags {
  position: relative;
  top: 10px;
  padding-bottom: 4px;
  padding-right: 8px;
  background-color: lightgray;
  opacity: 0.6;
  word-break: break-word;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  .opaque-card {
    margin-left: 5px;
    margin-right: 10px;
  }
  .form-control {
    width : 70%;
  }
  .description {
    font-size: 12pt;
    font-weight: bold;
  }
  .add-button {
    margin: 10px 20px 0px 10px;
    // padding-bottom: 5px;
  }
  .panel-info {
    padding: 5px;
    font-size: 13pt;
  }

  .outer-container {
    margin-left: -10px;
  }

  mat-card {
    padding: 16px;
    width: 105%;
    margin-bottom: 0px;
  }


}


@media only screen and (min-width : 1224px) {
  mat-card {
    margin: 10px;
    width: 43%;
    margin-bottom: 15px;
    flex: 1 1 auto;
  }

  .panel-container {
    margin: 10px 10px;
  }



  .panel-info {
    width: 100%;
    padding: 5px;
    font-weight: bold;
  }

  .video-meta {
    font-size: 12pt;
    margin-left: 10px;
  }

  .tags {
    position: relative;
    top: 10px;
    padding-bottom: 4px;
    padding-right: 8px;
    background-color: lightgray;
    opacity: 0.6;
  }

  .mat-card-avatar {
    margin-left: -7px;
    margin-right: 4px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .description {
    font-size: 14pt;
    font-weight: bold;
  }

  .panel-container {
    margin: 10px 10px;
  }


}
