<mat-toolbar class="top-banner">
  <mat-toolbar-row>
      <!-- <div class="pulsate-css pulse"><p>Hello</p></div> -->
      <!-- <a href="#" class="tv-pulse-btn pulse"><i class="material-icons">add</i></a> -->
    <span style="flex: 1 1 auto;"></span>
    <div class="button-container" [hidden]="!user">
      <button mat-raised-button class="menu-btn" title="Profile" (click)="navigateToProfile()" color="primary">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-raised-button class="menu-btn" title="Logout" (click)="logout()" color="primary">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet ></router-outlet>
