<mat-toolbar>
  <mat-toolbar-row>
  <span style="flex: 1 1 auto;"></span>
  <button mat-raised-button (click)="navigateToProfile()" style="margin-top: 190px;" color="primary"><mat-icon>settings</mat-icon><mat-icon>person</mat-icon></button>
</mat-toolbar-row>
</mat-toolbar>
  <mat-sidenav-container class="sidenav-content">
    <mat-sidenav #drawer mode="side" opened role="navigation">
      <mat-nav-list>
        <a mat-list-item routerLink='list'>Member Map</a>
        <a mat-list-item routerLink='learn'>Access Your Free Upgrade</a>
        <a mat-list-item routerLink='learn'>Watch</a>
        <a mat-list-item routerLink='learn'>Listen</a>
        <a mat-list-item routerLink='learn'>Discuss</a>
        <a mat-list-item routerLink='learn'>Recruit</a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="image">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
