
.image {
    background-image:url('/src/assets/mainbackground.jpg');
    background-size: cover;
}

mat-toolbar{
    /* background:url('/src/assets/topbanner.jpg');  */
    background-size:cover;
    height: 170px;
}


.sidenav-content {
    display: flex;
    height: 100%;

    align-items: left;
    justify-content: left;
}
