.content-container {
  height: 80%;
}

:host ::ng-deep .mat-card-header {
  height: 30px;

  h3 {
    position: relative;
    top: -10px;
  }
}

.sidenav-content {
  display: block;
  width: 70%;
  margin-top: 20px;
  align-items: left;
  justify-content: left;
}
