

.opaque-card {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 125%;
    opacity: 0.6;
  }


.flex-container {
    display : flex;
    flex-wrap : nowrap;
    align-items : flex-start;
}

.flex-map {
  flex : 5;
  width: 50em;
  height: 20em;
  margin-left: 1em;
  margin-top: 1em;
  order : 1;
}

.flex-members {
  margin-left: 20px;
  flex : 2;
  order : 2;
  overflow-y: scroll;
}


.mat-column-right {
    text-align: center;
}

mat-card {
    width: 900px;
}
