<div class="flex-container container">
  <div #gmap class="flex-map"></div>
  <div class="flex-members" fxLayout="column" fxLayoutAlign="start">
    <span class="summary"
      ><br />We have {{ memberCount }} members <br />{{ conversionPercent }}% have converted</span
    >
    <mat-accordion>
      <mat-expansion-panel *ngFor="let member of members" (click)="focusMember(member)">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ member.uname }} aka {{ member.fname }} {{ member.lname }} </mat-panel-title>
        </mat-expansion-panel-header>
        {{ member.gender }}  Born{{ member.birthyear }}<br />
        Into Psytrance since {{ member.startyear }}<br />
        From {{ member.origin }}<br />
        Living in {{ member.location }}<br />
        Says Psytrance is my {{ member.psystatus }}<br />
        Because {{ member.reason }}<br />
        About Me : {{ member.bio }}<br />
        Facebook : {{ member.facebookUrl}}<br />
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div></div>
</div>
