@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .flex-container {
    height: 95%;
    width: 100%;
  }
  .flex-map {
    width: 17em;
    height: 16em;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 1224px) {
  .opaque-card {
    margin-left: 0px;
  }
  
  .flex-map {
    width: 42em;
    height: 20em;
    margin-left: 5em;
  }
}
