@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .list-container {
    height: 100%;
    width: 100%;
  }

  .list-map {
    min-width: 10em;
    width: 17em;
    height: 16em;
  }
}

@media only screen and (min-width: 1224px) {
  .list-container {
    height: 95%;
    width: 55%;
  }

  .list-map {
    margin-top: 10px;
    width: 42em;
    height: 20em;
    margin-left: 1em;
  }
}
