
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .opaque-card {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    line-height: 125%;
    opacity: 0.6;
  }
}

@media only screen  and (min-width : 1224px) {
  .opaque-card {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 125%;
    opacity: 0.6;
  }
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  background-color: lightgray;
  overflow-y: hidden;
}

.flex-map {
  flex: 5;
  width: 120em;
  height: 21em;
  margin: 1em;
  align-self: flex-start;
  order: 1;
}

.flex-members {
  display: flex;
  margin-top: 20px;
  margin-right: 20px;
  background-color: gray;
  margin-left: 20px;
  height: 95%;
  flex: 2;
  order: 2;
  overflow-y: scroll;

  // mat-accordion {
  //   border-radius: 0;
  // }
}

.summary {
  text-align: center;
  margin-bottom: 10px;
}

.mat-column-right {
  text-align: center;
}

mat-card {
  width: 900px;
}
