<div class="stats-container" fxLayout="row wrap" fxLayoutAlign="space-between"
  *ngIf="chartSeries$ | async as chartSeries">
  <mat-card class="chart-half">
    <mat-card-content class="content">
      <kendo-chart>
        <kendo-chart-title text="Is Psytrance Your Religion?"></kendo-chart-title>
        <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
        <kendo-chart-series>
          <kendo-chart-series-item type="column" [data]="chartSeries.psyStatusSeries" categoryField="name"
            field="count">
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </mat-card-content>
  </mat-card>
  <mat-card class="chart-half">
    <mat-card-content>
      <kendo-chart [series]="chartSeries.genderSeries">
        <kendo-chart-title text="Membership by Gender"></kendo-chart-title>
        <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
        <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
      </kendo-chart>
    </mat-card-content>
  </mat-card>
  <mat-card class="chart-full">
    <mat-card-content>
      <kendo-chart>
        <kendo-chart-title text="Membership by Age"></kendo-chart-title>
        <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
        <kendo-chart-series>
          <kendo-chart-series-item type="column" [data]="chartSeries.ageSeries" categoryField="age"
            field="count">
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </mat-card-content>
  </mat-card>
  <mat-card class="chart-full">
    <mat-card-content>
      <kendo-chart>
        <kendo-chart-title text="Artist Popularity"></kendo-chart-title>
        <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
        <kendo-chart-series>
          <kendo-chart-series-item type="column" [data]="chartSeries.artistSeries" categoryField="name" field="count">
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </mat-card-content>
  </mat-card>
  <mat-card class="chart-full">
    <mat-card-content>
      <kendo-chart>
        <kendo-chart-title text="Artist By Origin"></kendo-chart-title>
        <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
        <kendo-chart-tooltip>
          <ng-template kendoChartSeriesTooltipTemplate let-value="value" let-dataItem="dataItem">
            Artists: {{ dataItem.artists }}
          </ng-template>
        </kendo-chart-tooltip>
        <kendo-chart-series>
          <kendo-chart-series-item type="column" [data]="chartSeries.artistByOriginSeries" categoryField="name"
            field="count">
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </mat-card-content>
  </mat-card>
  <mat-card class="chart-full">
    <mat-card-content>
      <kendo-chart>
        <kendo-chart-title text="Festival Popularity"></kendo-chart-title>
        <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
        <kendo-chart-series>
          <kendo-chart-series-item type="column" [data]="chartSeries.festivalSeries" categoryField="name" field="count">
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </mat-card-content>
  </mat-card>
  <mat-card class="chart-full">
    <mat-card-content>
      <kendo-chart>
        <kendo-chart-tooltip>
          <ng-template kendoChartSeriesTooltipTemplate let-value="value" let-dataItem="dataItem">
            {{ dataItem.festivals }}
          </ng-template>
        </kendo-chart-tooltip>
        <kendo-chart-title text="Festivals By Country"></kendo-chart-title>
        <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
        <kendo-chart-series>
          <kendo-chart-series-item type="column" [data]="chartSeries.festivalsByLocationSeries.data"
            categoryField="name" field="count">
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </mat-card-content>
  </mat-card>

  <mat-card class="chart-full">
    <mat-card-content>
      <kendo-chart>
        <kendo-chart-title text="Membership by Country"></kendo-chart-title>
        <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
        <kendo-chart-series>
          <kendo-chart-series-item type="column" [data]="chartSeries.countrySeries" categoryField="name" field="count">
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </mat-card-content>
  </mat-card>
  <mat-card class="chart-half">
    <mat-card-content>
      <kendo-chart>
        <kendo-chart-title text="Karmic Kudos League"></kendo-chart-title>
        <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
        <kendo-chart-series>
          <kendo-chart-series-item type="column" [data]="chartSeries.kudosSeries" categoryField="name" field="kudos">
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </mat-card-content>
  </mat-card>

</div>
