@media only screen and (min-width: 1224px) {
  .k-chat {
    margin-top: 100px;
  }

  .opaque-card {
    margin-top: 0 !important;
  }

  .chat-container {
    height: 80%;
    overflow-y: scroll;
  }

  ::ng-deep .k-chat .k-bubble {
    background-color: red;
    border-color: red;
    color: white;
  }

  ::ng-deep .k-chat .k-alt .k-bubble {
    background-color: orange;
    border-color: orange
  }

}

::ng-deep .members-container {
  margin-top: 10px !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .k-chat {
    height: 500px;
  }


}
