<div class="opaque-card" fxLayout="column" fxLayoutAlign="flex-start center" justify-items="space-around">
  <span class="title">Your Free Upgrade</span>
  <br/>
  <span>Your Free Upgrade is a deep dive into
    <br/> the Holographic Universe, Psychedelics
    <br/>and why Psytrance Is My Religion
  </span>
  <br/>
  <span>Click here
    <i class="fa fa-arrow-circle-right"></i>
    <a class="fa fa-copy link hvr-float" href="https://drive.google.com/file/d/0B1nOetMDuuGHQzlZUlhvNnE5dzA/view?usp=sharing"></a>
    <i class="fa fa-arrow-circle-left"></i> for access!</span>
    <br/>
    <span class="title">My Changa Experiences</span>
    <br/>
    <span>An account of my first few experiences with DMT
      <br/> which inspired me to create Psytrance Is My Religion
      <br/>
    </span>
    <span>Click here
    <i class="fa fa-arrow-circle-right"></i>
    <a class="fa fa-copy link hvr-float" href="https://docs.google.com/document/d/1iLqKisNiiwGmOzar5Hc7aIlB_OdOGTYIu5YFG75okgM/edit?usp=sharing"></a>
    <i class="fa fa-arrow-circle-left"></i> to download!</span>

</div>
