<div class="opaque-card" fxLayout="column" fxLayoutAlign="flex-start center" justify-items="space-around">
  <span class="title">Your Free Upgrade</span>
  <br/>
  <span>Your Free Upgrade is a deep dive into
    <br/> the Holographic Universe, Psychedelics
    <br/>and why Psytrance is my religion
    <br/>
  </span>
  <br/>
  <br/>
  <span>Click here
    <i class="fa fa-arrow-circle-right"></i>
    <a class="fa fa-copy link hvr-float" href="https://drive.google.com/file/d/0B1nOetMDuuGHQzlZUlhvNnE5dzA/view?usp=sharing"></a>
    <i class="fa fa-arrow-circle-left"></i> for access!</span>
</div>
