<div class="opaque-card" fxLayout="column" fxLayoutAlign="flex-start center" justify-items="space-around">
  <div class="panel">
  <span class="title">Your Free Upgrade</span><br/>
  <span>Your Free Upgrade is a deep dive into the Holographic Universe, Psychedelics and why Psytrance Is My Religion</span><br/>
  <span>
    <i class="fa fa-arrow-circle-right link" ></i>
    <a class="fa fa-copy link hvr-pulse doc" href="https://drive.google.com/file/d/0B1nOetMDuuGHQzlZUlhvNnE5dzA/view?usp=sharing"></a>
    <i class="fa fa-arrow-circle-left link"></i><br/>
    Click here for access!
  </span>
</div>
<br/>
<div class="panel">
    <br/>
    <span class="title">My Changa Experiences</span><br/>
    <span>An account of my first few experiences with DMT which inspired me to create Psytrance Is My Religion<br/>
    </span>
    <span>
    <i class="fa fa-arrow-circle-right link"></i>
    <a class="fa fa-copy link hvr-pulse doc" href="https://docs.google.com/document/d/1iLqKisNiiwGmOzar5Hc7aIlB_OdOGTYIu5YFG75okgM/edit?usp=sharing"></a>
    <i class="fa fa-arrow-circle-left link"></i>
    <br/>Click here for access!</span>
    </div>
</div>
