<div class="outer-container">
  <div class="summary">Member Wall<br />
    <button mat-raised-button color="accent" (click)="openPostDialog()">Share Story&nbsp;<mat-icon>create</mat-icon>
    </button>
  </div>
  <div fxLayout="column" class="post-container" fxLayoutAlign="start start" *ngIf="wall$ | async as wall">

    <mat-card class="inner-card" *ngFor="let post of wall$ | async">
      <mat-card-header><span>{{post.title}} <br /> By <a [routerLink]="" (click)="setSelectedMember$(post.createdBy)">

            {{ post.createdBy.uname }}</a>
          on {{ post.updatedAt | date : 'shortDate' : localeId }} {{ post.updatedAt | date : 'shortTime' }}</span>
      </mat-card-header>
      <mat-card-content>
          <quill-view [content]="post.content"  theme="snow"></quill-view>
        <button *ngIf="user._id == post.createdBy._id" mat-icon-button color="accent" (click)="openPostDialog(post)">
          <mat-icon>edit</mat-icon>Edit
        </button>&nbsp;&nbsp;
        <button *ngIf="user._id == post.createdBy._id" mat-icon-button color="accent" (click)="deletePost(post)">
          <mat-icon>delete</mat-icon>Delete
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
