@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    mat-card {
        margin: 0px!important;
        width: 15em!important;
        border-radius: 0;
        // padding: 0!important;
        opacity: 0.7;

        mat-card-header {
            height: 40px;
            font-size: 10pt;
            font-weight: bold;
            .mat-card-header-text {
              margin-left: 0;
              text-align: bottom;
            }
            mat-icon {
              zoom: 2.5;
            }
          }


        > * {
            font-size: 8pt;
        }

      }
}

.links {

  a {
    // display: inline-block;
    zoom : 1.4;
    margin: 5 10px;
  }
}
@media only screen and (min-width: 1224px) {


      .mat-card-avatar {
        padding: 10px;
      }
      .mat-card-header-text {
        opacity: 0.9;
      }
      mat-card {
        margin: 1em 1em;
        width: 40em;
        opacity: 0.7;

        mat-card-header {
          height: 50px;
          font-size: 14pt;
          font-weight: bold;
          padding: 5px;
          background-image: linear-gradient(red, yellow);
          mat-icon {
            zoom: 2.5;
            padding-right: 10px;
          }
          > * {
            margin: 0px!important;
          }
        }

        mat-card-content {
          margin-top: 10px;
        }
        > * {
          font-size: 12pt;
        }

      }


}
