<mat-card *ngIf="selectedMember$ | async as selectedMember">
        <mat-card-header>
          <img *ngIf="selectedMember.avatarUrl" mat-card-avatar src="{{ selectedMember.avatarUrl }}" />
           {{ selectedMember.uname && selectedMember.uname.length > 0 ? selectedMember.uname + ' aka' : ''}}  {{ selectedMember.fname }} {{ selectedMember.lname }} </mat-card-header>
        <mat-card-content>
          {{ selectedMember.gender == 'F' ? 'Female' : 'Male' }} 
                 Born {{ selectedMember.birthyear }}
          <br /> Into Psytrance since {{ selectedMember.startyear }}
          <br /> From {{ selectedMember.origin }}
          <br /> Living in {{ selectedMember.location }}
          <br/>  Into it since {{ selectedMember.startyear }}
          <br /> Favourite parties {{ selectedMember.favouriteparties }}
          <br /> Favourite festivals {{ selectedMember.favouritefestivals }}
          <br /> Says Psytrance is my {{ selectedMember.psystatus }}
          <br /> Because {{ selectedMember.reason }}
          <br /> About Me : {{ selectedMember.bio }}
          <span *ngIf="selectedMember.facebookUrl" ><br /> Facebook : <a class="fa fa-facebook"  target="_blank" href="http://{{ selectedMember.facebookUrl}}"></a></span>
          <span *ngIf="selectedMember.soundcloudUrl" ><br /> Soundcloud : <a class="fa fa-soundcloud"  target="_blank" href="http://{{ selectedMember.soundcloudUrl}}"></a></span>
          <span *ngIf="selectedMember.websiteUrl" ><br /> Website : <a class="fa fa-link" target="_blank" href="http://{{ selectedMember.websiteUrl}}"></a></span>
        </mat-card-content>
      </mat-card>