@media only screen and (min-width: 1224px) {


  .member-container {
    opacity: 0.7;
    height: 100%;
    width: 95%;
    font-weight: bold;

    background-image: linear-gradient(red, yellow);
  }

    .flex-members {
        width: 95%;
        border-radius : 5px;
        overflow-y: hidden;
          margin-top: 10px;
          margin-left: 10px;
          margin-right: 70px;
        ul {
          cursor: pointer;
          background-color: orange;


         li {
          height: 40px;
          width: 100%;
          text-align: center;
          padding-top: 10px;
             width: 100%;
              }
          li:hover {
            background-color: red;
          }
        }
    }

    .summary {
      margin-top: 15px;
      background-image: linear-gradient(red, yellow);
      font-weight: bold;
      text-align: center;
      border-radius: 5px;
    }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .flex-members {
    width: 17em;
    padding: 10px;
    margin-top: 1em;
    margin-left: 10px;
    font-size: 12pt;
    overflow-y: hidden;
    background-image: linear-gradient(red, yellow);

    > * {
      font-size: 12pt;
    }
    ul {
      cursor: pointer;
      background-color: orange;


     li {
      height: 30px;
      width: 100%;
      text-align: center;
      padding-top: 10px;
         width: 100%;
          }
      li:hover {
        background-color: red;
      }
    }
    .member-container {
      margin-left: 10px;
      opacity: 0.7;
      width:100px;
      height: 100%;
    }

}



}



