@media only screen and (min-width: 1224px) {


  .member-container {
    opacity: 0.7;
    height: 100%;
    width: 95%;
    font-weight: bold;
    margin-top: 10px;
    background-image: linear-gradient(red, yellow);
  }

  .flex-members {
    width: 95%;
    overflow-y: hidden;
    margin-left: 10px;
    margin-right: 70px;
    ul {
      cursor: pointer;
      background-color: orange;
      padding-inline-start: 10px;
      margin-block-start: 0.5em;
      margin-top: 10px;
      margin-bottom: 0px;

      li {
        width: 100%;
        width: 100%;
        // height: fit-content;
      }

      li:hover {
        background-color: red;
      }
    }
  }

  .summary {
    background-image: linear-gradient(red, yellow);
    font-weight: bold;
    height: 50px;
    text-align: center;
  }

  .avatar {
    margin: 13px 10px 0 0;
  }

  .title {
    position: relative;
    top: -20px;
    text-align: left;
  }

  .title2 {
    position: relative;
    // display: block;
    margin-left: 20px;
    text-align: left;
    top: -22px;
    left: 34px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .flex-members {
    width: 17em;
    padding: 10px;
    margin-top: 0;
    margin-left: 0;
    font-size: 12pt;
    overflow-y: hidden;
    background-image: linear-gradient(red, yellow);

    >* {
      font-size: 12pt;
    }

    ul {
      cursor: pointer;
      background-color: orange;
      padding-inline-start: 10px;

      li {
        height: 30px;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        width: 100%;
      }

      li:hover {
        background-color: red;
      }
    }

    .member-container {
      margin-left: 10px;
      opacity: 0.7;
      width: 100px;
      height: 100%;
    }

  }



}
