.outer-container {
  background-image: linear-gradient(yellow, red);
  margin-right: 10px;
  padding: 0px 10px;
}


.post-container {
  width: 22em;
  overflow-y: scroll;
  height: inherit;
}

mat-card {
  border-radius: 0px;
  padding: 0px;
  width: 100%;
  margin: 10px 0px;

  .mat-flat-button {
    margin: 0 !important;
    padding: 0 !important;
  }

  mat-card-header {
    min-height: 60px;
    background-image: linear-gradient(red, yellow);
    padding: 5px;
  }

  mat-card-content {
    margin: 10px;
    padding: 5px;
  }

  .mat-card-avatar {
    margin-top: 0.2em;
    margin-right: 1em;
  }

  mat-icon {
    zoom: 0.7;
  }

  button {
    font-size: 10px;
    margin: 0 !important;
    padding: 0px !important;
  }
}

.inner-card {
  // height : 300px;
}


.inner-card:first {
  margin-top: 150px !important;
}

.outer-card {
  margin-bottom: 50px;
}

.summary {
  background-image: linear-gradient(yellow, red, );
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  height: 80px;
}

::ng-deep label {
  font-weight: normal;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {


  mat-card {
    // width: 19em;
  }

  .mat-card-avatar {
    margin: 0.2em;
    padding: 0px;
  }

  .summary {
    margin: 0px !important;
  }

  .outer-container {
    padding: 0px;
    margin-right: 0px;
  }

  .post-container {
    width: 22em;
    height: 20em;
  }

}
