table {
  width: 95%;
}



.primary {
  background-color: #3f51b5;
  border-color: #3f51b5;
  background-image: none;
}

.primary:hover {
  background-color: #428bca;
  color: #fff;
  border-color: #428bca;
}

:host /deep/ .k-window-titlebar {
  background-color: #3f51b5 !important;
  border-color: #3f51b5 !important;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {



  /* .opaque-card {
    font-family: "Electrolize", "orbitron", "Electrolize", "aero", "sofachromeregular", sans-serif;
    font-weight: bold;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  } */

  .map {
    width:90%; height:300px; opacity: 1
  }
  .header {
    font-family: "nasa", "aero", "sofachromeregular", sans-serif !important;
    /* font-size: 12pt; */
  }

  .title {
    font-size: 14pt;
  }


 .login-buttons > * {
    margin: 10px 20px;
    line-height: 20px;
    padding: 5px;
    white-space: pre-wrap !important;
  }

  mat-card-content {
    font-size: 14pt!important;
    line-height: 1.1em;
  }
}

@media only screen  and (min-width : 1224px) {

  .login-buttons > * {
    margin: 10px 20px;
  }

  .opaque-card {
    margin-top: 130px;
    margin-bottom: 20px;
    margin-left: 250px;
    margin-right: 250px;
    font-weight: bold;
  }

  .header {
    font-family: "nasa", "aero", "sofachromeregular", sans-serif !important;
    font-size: 24pt;
  }
  .map {
    width:40%; height:400px; opacity: 1
  }
  .title {
    font-size: 34pt;
  }

  mat-card-content {
    font-size: 16pt;
    line-height: 1.4em;
  }
  
}

