 <mat-toolbar class="top-banner">
</mat-toolbar>

<mat-card class="opaque-card">

<mat-card-content>
        <div style="float: right;">
                <button mat-raised-button color="primary" (click)="socialSignIn('facebook')">Sign in with Facebook</button>
        <br><br>
          <button mat-raised-button color="primary" (click)="socialSignIn('google')">Sign in with Google</button>
          <br><br>
          <button mat-raised-button color="primary" (click)="register()">Register</button>

        </div>
<div #gmap style="width:80%; height:250px; opacity: 1"></div>

        <div class="backdrop" >
<p><span class="header">
      Hello World! Welcome to religion based on the psychedelic trance state of mind and belief in the holographic universe through experiental proof.<br>
    </span>
      Surely if enough of us come together and say 'psytrance is my religion', it will become a religion! If both the <a href="https://www.jedichurch.org/">Jedi Church</a>
      and <a href="https://www.venganza.org/">Church of the Flying Spaghetti Monster</a> can be officially recognised as religions in recent years, why not psytrance?
      <br><br>
      <span>There are {{ memberCount }} members of which {{ conversionPercent }}% say psytrance is my religion</span>
<br>
      <span class="header">What's the point?</span>
      If psytrance becomes officially recognised as a religion, we can then lobby our governments to legalise psychedelics as surely we will be consuming them for religious reasons. They would be the sacrament in our rituals.
      And isn't freedom of religious expression an inalienable human right? So in part this is a reality hack.
      However religions are defined by 'a specific fundamental set of beliefs and practices generally agreed upon by a number of persons or sects'.
      It is my belief that psychedelics reveal to us the true nature of the universe, specifically that visions mediated by the most powerful psychedelic known to man,
      DMT, gives us direct experiential proof that we live in a <b>Holographic Universe</b> where everything is totally interconnected. Meaning we are literally One! Each and every one of us holds the
      universe inside us.

      It hasn't been proved yet that the universe is holographic but the evidence is mounting that this is the case and the consequences of a holographic universe are powerful and profound.
      Check out the 'Your Free Upgrade' learning path for a deeper look into this subject. My visions smoking changa have given me the evidence I need to conclude this to be the case and you
      and I will also share with you my trip reports which led me to this conclusion.
      <br><br>
      When talking about psychedelic trance as a religion, I don't necessarily mean psytrance the genre of music, but more the state of mind attained
      by listening to any type of repetitive beat music, with or without the help of psychedelic drugs. Yoga, meditation and sensory deprivation are all routes to this
      same mental state. However in the 21st century it is on the dancefloor where many of us find release from the worries and
      concerns of everyday life, our minds entrained to the hypnotic beat of dance music, whether it be psytrance,
      techno, drum and bass, dubstep, or house. Our minds and bodies respond with the flow state of the trance dance, an active meditation which can be therapeutic, revitalising,
      revitalising, renewing. We can have moments of peak experience, epiphany and revalation, gain creative insight and grow spiritually as well as share great times with good friends.<br><br>

      Of course psytrance doesn't have to be your religion to join and make use of the social networking capabilities of the website. You can opt out if you wish.
      Once you've joined you can discover psy heads living in your local area and say hello by sending them a message. Maybe you'll make new friends!<br><br>

      You can also see the statistical breakdown of our membership and earn Karmic Kudos by downloading flyers and handing them to other psy heads at parties.
      The more members you refer, the more Karmic Kudos you generate! There's also a forum for discussing ideas and a TV channel where you can share your favourite youtube clips with the rest of us.


      Below are a few great YouTube clips introducing some of the concepts I discuss.
      Stay tuned to the alpha frequency!
</p></div>

    </mat-card-content>
  </mat-card>
