table {
  width: 95%;
}

.sub-title {
  display: block;
  margin-bottom: 10px;
}

.primary {
  background-color: #3f51b5;
  border-color: #3f51b5;
  background-image: none;
}

.primary:hover {
  background-color: #428bca;
  color: #fff;
  border-color: #428bca;
}

:host ::ng-deep .k-window-titlebar {
  background-color: #E64A19 !important;
  border-color: #E64A19 !important;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  :host ::ng-deep .opaque-card {
    opacity: 0.9;
  }

  .map-container {
    width: 97%;
    margin-left: 2em;
  }

  .map {
    width: 90%;
    height: 300px;
    opacity: 1
  }

  .title {
    font-size: 18pt;
    text-align: center;
  }

  .content {
    text-align: center;
  }

  .login-buttons>* {
    margin: 10px 20px;
    line-height: 20px;
    padding: 5px;
    white-space: pre-wrap !important;
  }

  mat-card-content {
    font-size: 14pt !important;
    line-height: 1.1em;
  }

  .text-container {
    opacity: 0.9 !important;
  }
}



@media only screen and (min-width : 1224px) {

  .login-buttons>* {
    margin: 10px 20px;
  }

  .opaque-card {
    margin-top: 130px;
    margin-bottom: 20px;
    width: 60em;
    font-weight: bold;
    text-align: center;
  }

  .map-container {
    width: 149%;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .header {
    font-size: 24pt;
  }

  .map {
    width: 40%;
    height: 300px;
    opacity: 1
  }

  .title {
    font-size: 34pt;
    line-height: 50px;
    text-align: center;
  }

  mat-card-content {
    font-size: 16pt;
    line-height: 1.4em;
  }

}
