/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@font-face {
  font-family: "orbitron";
  src: url("./assets/orbitron-medium-webfont.ttf") format("truetype"), url("./assets/orbitron-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: "Irresistor";
  src: url("./assets/irresistor-webfont.woff2") format("woff2"), url("./assets/irresistor-webfont.woff") format("woff"), url("./assets/Irresistor.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sofachromeregular";
  src: url("./assets/sofachrome_rg-webfont.woff2") format("woff2"), url("./assets/sofachrome_rg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nasa";
  src: url("./assets/nasalization-rg-webfont.woff2") format("woff2");
  src: url("./assets/nasalization-rg-webfont.woff") format("woff");
}

html,
body {
  height: 100%;
  font-family: "nasa", "aero", "sofachromeregular", sans-serif !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    margin: 0;
    background-image: url("./assets/mainbackground.jpg");
    background-size: contain;
    opacity: 1;
  }

  .opaque-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
    background-size: contain;
    background: url("/assets/background.jpg");
  }

  .opaque-card {
    /* font-family: "nasa","Electrolize", "orbitron","aero", "sofachromeregular", sans-serif; */
    font-weight: bold;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 1224px) {
  body {
    margin: 0;
    background-image: url("./assets/mainbackground.jpg");
    background-size: contain;
    background-position: -140px 0px;
    opacity: 1;
    overflow: hidden;
  }

  .opaque-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
    background-size: contain;
    background: url("/assets/background.jpg");
  }

  .opaque-card {
    font-family: "Electrolize", "orbitron", "Electrolize", "aero", "sofachromeregular", sans-serif;
    /* font-weight: bold; */
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .mat-card-header-text {
    margin: 0px !important;
  }
}



[hidden] {
  display: none !important;
}

.container {
  display: block;
  height: 800px;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 8px #ea4c89, inset 0 0 8px #ea4c89;
  }

  50% {
    box-shadow: 0 0 16px #ea4c89, inset 0 0 14px #ea4c89;
  }

  100% {
    box-shadow: 0 0 8px #ea4c89, inset 0 0 8px #ea4c89;
  }
}

.tv-pulse-btn {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  border: none;
  box-shadow: 0 0 0 0 #f0f0f0, 0 0 0 0 rgba(227, 115, 14, 0.7);
  border-radius: 25px;
  background: #e3730e;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0.33, 0, 1);
}

.pulsate-css {
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0;

  /* you dont need the stuff below, but its what I used to create the loading circle */
  border: 3px solid #999;
  border-radius: 30px;
  height: 18px;
  width: 18px;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  text-align: center;
}

/* .pulse {
  background-color:transparent;
  width:100px;
  height:100px;
  border-radius:50px;
  box-shadow: 0 0 8px #ea4c89, inset 0 0 8px #ea4c89;
  animation: pulse 2s linear 1s infinite;
}
.pulse p {
  display:block;
  text-align: center;
  line-height: 100px;
  font-family:sans-serif;
  font-weight:100;
  font-size:24px;
  color: #ea4c89;
  text-shadow: 0 0 4px #ea4c89;
} */
