<div fxLayoutAlign="center" class="registration-container opaque-card">
  <mat-card class="registration-form">
    <mat-card-header>
      <img [hidden]="newMode" mat-card-avatar src="{{ avatarUrl }}" />
      <h3>
        <mat-icon mat-card-avatar [hidden]="!newMode || avatarUrl">person</mat-icon> Your Profile
      </h3>
    </mat-card-header>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="basicInfoGroup">
        <form [formGroup]="basicInfoGroup">
          <ng-template matStepLabel>Basic Info</ng-template>
          <mat-form-field class="field-full-width">
            <input matInput placeholder="Username" formControlName="uname" />
            <mat-error>Required</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <input matInput placeholder="First Name" formControlName="fname" />
            <mat-error>Required</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <input matInput placeholder="Last Name" formControlName="lname" />
            <mat-error>Required</mat-error>
          </mat-form-field>
          <mat-form-field floatLabel="always" class="mat-form-field--no-underline">
            <mat-label>Gender</mat-label>
            <mat-radio-group name="genderControl" formControlName="gender" [(ngModel)]="genderSelected">
              <mat-radio-button value="M">Male&nbsp;&nbsp;</mat-radio-button>
              <mat-radio-button value="F">Female</mat-radio-button>
              <input matInput placeholder="" style="display: none" />
            </mat-radio-group>
            <mat-error>Required</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <input matInput placeholder="Email" formControlName="email" />
            <mat-error>{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
              <input matInput placeholder="Were you referred to the site? Please add the referer's username" formControlName="referer" [matAutocomplete]="auto3" />
              <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayRefererFn">
                <mat-option (onSelectionChange)="setReferer(option)" *ngFor="let option of filteredReferers | async" [value]="option">
                  {{ option.uname }} - {{ option.fname}} {{ option.lname}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          <mat-form-field class="field-full-width">
            <input matInput [matDatepicker]="picker" formControlName="birthyear" [min]="minDate" [max]="maxDate" placeholder="When were you born?" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker startView="multi-year" [startAt]="yearStart" #picker (yearSelected)="birthYearSelected($event, picker)"></mat-datepicker>
            <mat-error>Required</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <input type="text" matInput placeholder="Which country are you from?" formControlName="origin" [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredCountriesOrigin | async" [value]="option">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error>Required</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <input type="text" matInput placeholder="Where do you live?" formControlName="location" [matAutocomplete]="auto2" />
            <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
              <mat-option (onSelectionChange)="setLocation(option)" *ngFor="let option of filteredCountriesLocation | async" [value]="option">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error>Required</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <input matInput type="text" placeholder="Postcode" formControlName="postcode" />
            <mat-error>Required</mat-error>
          </mat-form-field>
          <div [hidden]="!basicInfoGroup.get('postcode').value">
            <app-map [postcode]="basicInfoGroup.get('postcode').value" [countryCode]="basicInfoGroup.get('location').value" (latLng)="setLatLng($event)"></app-map>
          </div>
          <button style="float:right;" mat-button matStepperNext>
            Next
          </button>
        </form>
      </mat-step>
      <mat-step [stepControl]="detailGroup">
        <form [formGroup]="detailGroup">
          <ng-template matStepLabel>About You</ng-template>
          <label *ngIf="detailGroup.get('musictype').value && detailGroup.get('musictype').value.length > 0">What are your favourite music genres?</label>
          <mat-form-field class="field-full-width">
            <input matInput style="display: none" />
            <kendo-multiselect #musicGenreList formControlName="musictype" [data]="musicTypeData" [filterable]="true" [textField]="'name'" [valueField]="'_id'" placeholder="What are your favourite music genres?" [allowCustom]="true"
              [valueNormalizer]="musictypeValueNormalizer">
            </kendo-multiselect>
            <mat-error>Required</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <mat-select placeholder="What's your involvement in the scene?" formControlName="membertype">
              <mat-option *ngFor="let option of dropdownData.membertypes" [value]="option.id">I am {{option.value}}</mat-option>
            </mat-select>
            <mat-error>Required</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <input matInput [matDatepicker]="picker2" formControlName="startyear" [min]="minDate" [max]="maxDate" placeholder="When did you start partying?" />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker startView="multi-year" [startAt]="yearStart" #picker2 (yearSelected)="partyStartYearSelected($event, picker2)"></mat-datepicker>
            <mat-error>Required</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <mat-select placeholder="How often do you attend parties?" formControlName="partyfrequency">
              <mat-option *ngFor="let option of dropdownData.partyfrequency" [value]="option.id">{{option.value}}</mat-option>
            </mat-select>
            <mat-error>Required</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <input matInput placeholder="What are your favourite parties?" formControlName="favouriteparty" />
            <mat-error>Required</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <mat-select placeholder="How often do you attend festivals?" formControlName="festivalfrequency">
              <mat-option *ngFor="let option of dropdownData.festivalfrequency" [value]="option.id">{{option.value}}</mat-option>
            </mat-select>
            <mat-error>Required</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <input matInput placeholder="What are your favourite festivals?" formControlName="favouritefestival" />
            <mat-error>Required</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <textarea class="reasonField" matInput placeholder="Tell us something about yourself" formControlName="bio"></textarea>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <span matPrefix>http://www.facebook.com/</span>
            <input matInput placeholder="Your Facebook URL" formControlName="facebookUrl" />
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <span matPrefix>https://www.soundcloud.com/</span>
            <input matInput placeholder="Your Soundcloud URL" formControlName="soundcloudUrl" />
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <input matInput placeholder="Your website URL" formControlName="websiteUrl" />
            <mat-error>Incorrect format</mat-error>
          </mat-form-field>
          <button style="float:right;" mat-button matStepperNext>Next</button>
          <button style="float:right;" mat-button matStepperPrevious>Back</button>
        </form>
      </mat-step>
      <mat-step [stepControl]="opinionGroup">
        <form [formGroup]="opinionGroup">
          <ng-template matStepLabel>Your opinions</ng-template>
          <label *ngIf="opinionGroup.get('favouriteartists').value && opinionGroup.get('favouriteartists').value.length > 0">What are your artists?</label>
          <mat-form-field class="field-full-width">
              <input matInput style="display: none" />
            <kendo-multiselect #artistList formControlName="favouriteartists" [data]="artistData" [filterable]="true" [textField]="'name'" [valueField]="'_id'" placeholder="What are your favourite music genres?" [allowCustom]="true"
              [valueNormalizer]="artistValueNormalizer">
            </kendo-multiselect>
          </mat-form-field>            
          <mat-form-field class="field-full-width">
            <mat-select placeholder="What is Psytrance to you?" formControlName="psystatus">
              <mat-option *ngFor="let option of dropdownData.psystatus" [value]="option.id">{{option.value}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <textarea class="reasonField" matInput placeholder="Please describe why you feel this way" formControlName="reason"></textarea>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button type="submit" mat-raised-button color="primary" (click)="registerMember()" [disabled]="
                (basicInfoGroup.pristine && opinionGroup.pristine && detailGroup.pristine) ||
                (basicInfoGroup.invalid || opinionGroup.invalid || detailGroup.invalid)
              ">
              Update
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>
