@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  ::ng-deep .top-banner {
    height: 50px !important;
  }

  mat-card-header {
    height: 100px;
    font-size: 12pt;
    font-weight: bold;
    background-image: linear-gradient(red, yellow);
  }

  ::ng-deep .mat-horizontal-stepper-header {
    padding: 0px 14px !important;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    position: relative !important;
    left: -15px !important;
  }

  ::ng-deep .mat-horizontal-content-container {
    padding: 0 24px 24px 15px !important;
  }

  ::ng-deep .mat-form-field {
    width: 98%;
  }

  .mat-card-avatar {
    margin: 5px 0px 10px 5px;
    border-radius: 0;
    width: 70px;
    height: 70px;
  }

  .title {
    font-size: 10pt;
  }

  .mat-card-header-text {
    margin: 0;
  }

  .opaque-card {
    margin-top: 0px;
    margin-right: 0;
  }

  .registration-container {
    font-size: 10pt;
    margin-left: 0px;
    height: 100%;
  }

  .mat-button,
  .mat-icon-button {
    zoom: 0.9;
    font-weight: bold;
    position: relative;
    left: -30px;
    top: -7px;
  }

  .label {
    font-weight: normal;
  }

  .registration-form {
    width: 106%;
    height: 200%;
    opacity: 0.8;
  }

  .field-full-width .field-half-width .field-two-third-width {
    width: 100%;
  }

  .reasonField {
    height: 300px!important;
  }

}

.artist-btn {
  float: right;
}
.mat-form-field--no-underline .mat-input-underline {
  background-color: transparent;
}

.reasonField {
  height: 80px;
}



@media only screen and (min-width: 1224px) {

  .mat-card-avatar {
    margin: 5px 0px 10px 5px;
    zoom: 2;
    border-radius: 0;
    width: 70px;
    height: 70px;
  }


  .title {
    font-size: 31pt;
    margin: auto;
    width: 24em;
  }

  .mat-button,
  .mat-icon-button {
    zoom: 0.9;
    font-weight: bold;
    position: relative;
    left: -20px;
  }

  mat-card-header {
    height: 160px;
    font-size: 14pt;
    font-weight: bold;
    background-image: linear-gradient(red, yellow);
  }


  .registration-form {
    width: 95%;
    margin-bottom: 20px;
  }

  .registration-container {
    width: 98%;
  }

  ::ng-deep .mat-form-field-flex {
    height: 50px;
  }

  .field-third-width {
    width: 30%;
    margin-right: 30px;
  }


  .field-two-third-width {
    width: 64%;
  }

  .field-full-width {
    width: 100%;
  }

  .field-half-width {
    width: 47%;
    margin-right: 30px;
  }


  .born-control {
    height: 61px !important;
  }

  .field-birthyear {
    width: 50%;
    position: relative;
    top: 6px;
    margin-left: 20px;

  }

}


