


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  ::ng-deep .top-banner {
    height: 50px !important;
  }

  .registration-form {
    width: 80%;
    margin-bottom: 20px;
  }

  .registration-container { 
    background-size: repeat;
  }
}

@media only screen  and (min-width : 1224px) {


  .registration-form {
    width: 50%;
    margin-bottom: 20px;
    opacity: 0.8;
  }
}

.registration-container { 
  width: 100%;
  height: 100%;
  background-image: url("/assets/mainbackground.jpg");

}



.field-full-width {
  width: 100%;
}

.mat-form-field--no-underline .mat-input-underline {
  background-color: transparent;
}

.reasonField {
  height: 200px;
}
