@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  ::ng-deep .top-banner {
    height: 50px !important;
  }
  .opaque-card {
    margin-top: 0px;
  }
  .registration-container {
    font-size: 10pt;
    margin-left: 0px;
    height: 100%;
  }

  .label {
    font-weight : normal;
  }

  .opaque-card {
    margin-top: 10px;
  }

  .registration-form {
    width: 90%;
    margin-left: 20px;
    height: 200%;
    margin-bottom: 20px;
    opacity: 0.8;
  }
}

.artist-btn {
  float: right;
}

@media only screen and (min-width: 1224px) {

  .mat-card-avatar {
    margin-right: 10px;
  }

  .mat-panel-header-text {
    margin-left: 10px;
  }
  .registration-form {
    width: 95%;
    margin-bottom: 20px;
    opacity: 0.8;
  }

  .registration-container {
    width: 98%;
  }
}

.field-full-width {
  width: 100%;
}

.mat-form-field--no-underline .mat-input-underline {
  background-color: transparent;
}

.reasonField {
  height: 200px;
}
