@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  .details-container {
    height: 100%;
  }

  mat-card {
    margin: 0px;
    border-radius: 0;
    opacity: 0.7;

    mat-card-header {
      height: 40px;
      font-size: 10pt;
      font-weight: bold;

      .mat-card-header-text {
        margin-left: 10;
        text-align: bottom;
      }

      mat-icon {
        zoom: 2.5;
      }
    }


    >* {
      font-size: 8pt;
    }

  }
}

img {
  cursor: pointer;
}

.links {

  a {
    zoom: 1.4;
    margin: 5 10px;
  }
}

@media only screen and (min-width: 1224px) {


  .mat-card-avatar {
    zoom: 2;
    margin: 5px;
    border-radius: 0;
  }


  .links {
    position: relative;
    left: 1em;
  }

  .details-container {
    height: 100%;
    left: -6px;
    position: relative;
    overflow-y: scroll;
  }

  mat-card {
    border-radius: 0;
    width: 37em;
    opacity: 0.7;
    height: 100%;

    mat-card-header {
      height: 100px;
      font-size: 14pt;
      font-weight: bold;
      padding: 10px;
      background-image: linear-gradient(red, yellow);

      mat-icon {
        padding-right: 10px;
      }

      >* {
        margin: 0px;
      }
    }

    .mat-card-header-text {
      opacity: 0.9;
      margin-left:10px;
    }
  
    mat-icon {
      zoom: 2.5;
    }

    mat-card-content {
      margin-top: 10px;
    }

    >* {
      font-size: 12pt;
    }

  }


}
